body{
    display: flex;
    justify-content: center;
}
button{
    background: #FFFF;
    border: none;
    font-size: 30px
}
img{
    width: 500px;
    height: 500px;
    border-radius: 20px;
}
.renderButton{
    background: #008EB0;
    padding: 30px 110px;
    border-radius: 25px;
}